@layer utilities {
  .line {
    @apply block relative min-h-[1rem] pl-[6.25rem];
  }
}

.line::before {
  content: attr(data-line);
  position: absolute;
  left: 0;
  width: 5.25rem;
  padding-right: 1rem;
  text-align: right;
  color: #999999;
  user-select: none;
  font-size: 0.85em;
}

.dark .line::before {
  color: #666666;
}
